@model IEnumerable<MVC_Project.Models.Properties_List>

<div class="row" id="propertyList">
    @foreach (var property in Model)
    {
        <div class="col-lg-4 col-md-6 mb-4 property-item">
            <div class="card shadow-sm position-relative">
                <!-- الشارة تظهر على الصورة -->
                <div class="status-badge position-absolute top-0 start-0 m-2">
                    @if ((int)property.Status == 1)
                    {
                        <span class="badge bg-info text-white" style="margin-left: 3px;">For Rent</span>
                    }
                    else if ((int)property.Status == 2)
                    {
                        <span class="badge bg-primary text-white" style="margin-left: 3px;">For Sale</span>
                    }
                </div>
            </div>
        </div>
</div>
                }
</div>
